.about-me {
    background-color: #afc4f3;
}

.about-me__triangle {
    transform: rotate(180deg);
}

.about-me__triangles {
    margin-bottom: -125px;
}

.about-me__slider {
    padding-top: 290px;
    margin-bottom: 185px;
}