.copyright__date {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    color: #494b50;
}

.copyright__text {
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.copyright__text span {
    font-size: 16px;
    line-height: 40px;
    color: #494b50;
    text-transform: none;
}

.copyright {
    width: 378px;
    display: flex;
    justify-content: space-between;
    margin-right: 125px;
}