.footer-nav-list__link {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 62px;

    &:hover {
        font-weight: 600;
    }

    &:active {
        color: #5500f2;
    }
}

.footer-nav-list li:last-of-type {
    margin-right: 0;
}