.footer {
    padding-top: 94px;
    padding-bottom: 115px;
    display: flex;
}

.footer__descrition-quote {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    margin-bottom: 50px;
}

.quote {
    width: 474px;
}

.footer__wrap {
    width: 977px;
}

.footer__socials {
    margin-top: 25px;
}