.hero {
    padding-top: 61px;
    margin-bottom: 170px;
}
.hero__content {
    margin-top: 310px;
    margin-bottom: 330px;
}

.hero__bottom-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll-down-btn {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 45px;
}

.scroll-down-btn__icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
