.info-img {
    width: 200px;
}

.info-img__avatar {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.info-img__image {
    width: 100%;
    height: auto;
}