.my-work__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.work-site__item {
    font-size: 15px;
    line-height: 48px;
    font-weight: 600;
    opacity: 0.7;
}

.my-work__wrap {
    display: flex;
}

.my-work__title {
    margin-bottom: 90px;
}

.my-work__slider {
    margin-right: 157px;
}

.my-work {
    margin-bottom: 50px;
}