.quote__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: #494b50;
    margin-bottom: 20px;
}

.quote__autor {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
}