.skills-img {
    position: absolute;
    top: 242%;
    left: -52.5%;
    transform: translate(-18%, -50%);
    width: 712px;
    height: 627px;
}
.skills-img__image {
    width: 100%;
    height: auto;
}