.skills-title__heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    width: 630px;
    margin-bottom: 50px;
}

.skills-title__note {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    opacity: 0.5;
}

.skills-title {
    width: 630px;
}