.slider-about-me__container-title {
    margin-bottom: 90px;
    display: flex;
}

.slider-about-me__btn {
    width: 131px;
    display: flex;
    justify-content: space-between;
}

.slider-about-me__btn button {
    width: 50px;
    height: 50px;
    border: 1px solid #455067;
    border-radius: 30px;

    &:hover {
        color: #5500f2;
        border: 1px solid #5500f2;
    }
}

.slider-about-me__container {
    width: 977px;
    display: flex;
    justify-content: space-between;
}
