.triangles {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: -0.2%;
    display: flex;
    color: #ffffff;
}

.triangles__item {
    width: 50%;
    height: 125px;
    fill: currentColor;
}

