.work-site {
    display: flex;
}

.work-site__item {
    height: 45px;
    margin-bottom: 40px;
    margin-right: 16px;
    background-color: #f3f5f9;
    border-radius: 20px;
}

.work-site li {
    display: flex;
    justify-content: center;
}

.work-site li:nth-child(1) {
    width: 84px;
}

.work-site li:nth-child(2) {
    width: 65px;
}

.work-site li:nth-child(3) {
    width: 115px;
}