script(type="text/x-template")#review
  .about-me__slider
    .slider-about-me
      titleBtn
      slider(
        :slides="slides"
        )
script(type="text/x-template")#review-title-btn
  .slider-about-me__container-title
    h3.slider-about-me__title Что обо мне говорят
script(type="text/x-template")#review-slider-container
  .slider-about-me__container.slider-reviews
    .slider-about-me__wrapper
      Carousel(:navigation-enabled="true"
                navigation-next-label=">"
                navigation-prev-label="<"
                :loop="true"
               ).vue-carousel
        Slide(v-for="slide in slides" :key="slide.id").slider-review__container
          .slider-reviews__slide
            .slider-reviews__wrap
              +icon("quote", "slider-reviews__icon")
              p.slider-review__feedback.slider-review__koval {{slide.desc}}
              img(:src="slide.photo")
              p.slider-review__name.slider-review__name-koval {{slide.name}}#[br] 
                span {{slide.position}}