.skills
  .container
    .skills__wrap
      .skills__container
        .skills__description
          .skills-title
            h2.skills-title__heading 
              span Чем я могу быть полезна вам
            p.skills-title__note 
              span Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__image
          .skills-img
            +image("content/backpack.png", "skills-img__image", "фотография рюкзака")

        #skills-component
            
  section.my-work
    .container
      h2.my-work__title Мои работы
    #slider-component