include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include ./mixins.pug
    .wrapper
        .welcome
          .container
            section.hero
              header.header
                p.header__logo АА
                .header__socials-hamburger
                  .header__hidden-socials
                    - var icons = ["insta", "vk", "github"];
                      ul.socials-hidden
                        each item in icons
                          li.socials-hidden__item
                            a(href="" target="_blank").socials-hidden__link
                              +icon(item, "socials-hidden__icon")
                  .header__hamburger
                    button.header__hamburger-btn
                      +icon("menu", "header__hamburger-btn-icon")
                .header__menu-popup
                  .header__buttons
                    nav.header-nav
                      - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                      ul.header-nav__list
                        each item in items
                          li.header-nav__item
                            a.header-nav__link #{item}
                  .header__socials
                    - var icons = ["insta", "vk", "github"];
                    ul.socials
                      each item in icons
                        li.socials__item
                          a(href="" target="_blank").socials__link
                            +icon(item, "socials__icon")
              .hero__content
                .user-data
                  .user-data__description Личный сайт #[br]веб разработчика
                  .user-data__name Анна #[br]Архипова
              .hero__bottom-btn
                a(href="").scroll-down-btn Скролл
                  +icon("scroll", "scroll-down-btn__icon")
                
            section.whoami
              .whoami__wrap
                .whoami__info
                  .info
                    .info-img
                      .info-img__avatar
                        +image("content/user.jpg", "info-img__image", "фотография разработчика")
                    table.info__table
                      tr
                        td Проживаю:
                        td Хабаровск
                      tr
                        td Возраст
                        td 24 года
                      tr
                        td Родился
                        td 28 сентября 1995

                .whoami__description
                  .description
                    p.description__hello Привет, меня зовут
                    p.description__name Анна Архипова
                    p.description__profession Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p.description__note Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          section.section-values.welcome__section-value
            section.triangles.welcome__triangles
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.welcome-triangle
                polygon(points="0,0 0,100 1000,100")
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.welcome-triangle
                polygon(points="1000,0 1000,100 0,100")

        .skills
          .container
            .skills__wrap
              .skills__container
                .skills__description
                  .skills-title
                    h2.skills-title__heading 
                      span Чем я могу быть полезна вам
                    p.skills-title__note 
                      span Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .skills__image
                  .skills-img
                    +image("content/backpack.png", "skills-img__image", "фотография рюкзака")
                .skills__frontend-workflow
                  .skills__frontend
                    h3.skills__frontend-title Front-end
                    .frontend
                      .frontend__html.frontend__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="83" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="83" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="372")
                          .frontend__html-title.frontend__item-name HTML5
                      .frontend__css.frontend__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="83" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="83" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="436")
                        .frontend__css-title.frontend__item-name CSS3

                      .frontend__js.frontend__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="83" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="83" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="113")
                        .frontend__js-title.frontend__item-name Javascript

                      .frontend__vue.frontend__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="83" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="83" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="369")
                        .frontend__vue-title.frontend__item-name Jquery #[br]и Vue.js

                      <svg style="width:0; height:0; position: absolute;" aria-hidden="true">
                        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0">
                          <stop offset="0%" stop-color='#4a00ed'></stop>
                          <stop offset="100%" stop-color='#9300e8'></stop>
                        </linearGradient>
                      </svg>

                  .skills__workflow
                    h3.skills__workflow-title Workflow
                    .workflow
                      .workflow__git.workflow__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="80" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="80" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="439")
                        .workflow__git-title.workflow__item-name GIT

                      .workflow__terminal.workflow__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="80" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="80" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="380")
                        .workflow__terminal-title.workflow__item-name Terminal

                      .workflow__gulp.workflow__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="80" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="80" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="251")
                        .workflow__gulp-title.workflow__item-name Gulp

                      .workflow__webpack.workflow__item
                        svg(viewBox="0 0 200 200")
                          circle(cx="100" cy="100" r="80" fill="transparent" stroke="#e9e9e9" stroke-width="13px")
                          circle( cx="100" cy="100" r="80" fill="transparent" stroke="url(#gradient)" stroke-width="25px" stroke-dasharray="502.4" stroke-dashoffset="314")
                        .workflow__webpack-title.workflow__item-name Webpack

          section.my-work
            .container
              h2.my-work__title Мои работы
            .my-work__wrap
              .my-work__slider
                .slider-preview
                  +image("content/slide0.jpg", "slider-preview__image", "превью работ в слайдере")
                  .slider-preview__slides
                    .slider-preview__slide
                      +image("content/slide2.jpg", "slider-preview__image", "превью работ в слайдере")
                    .slider-preview__slide
                      +image("content/slide1.jpg", "slider-preview__image", "превью работ в слайдере")
                    .slider-preview__slide
                      +image("content/slide4.jpg", "slider-preview__image", "превью работ в слайдере")
                    .slider-preview__slide
                      +image("content/slide0.jpg", "slider-preview__image", "превью работ в слайдере")
                    .slider-preview__slide
                      +image("content/slide3.jpg", "slider-preview__image", "превью работ в слайдере")
                  .slider-preview__btn
                    button(type="button").slider-preview__btn-up
                      span >
                    button(type="button").slider-preview__btn-down
                      span >
                .slider-preview__counts
                  .slider-preview__count 1
                  .slider-preview__count.slider-preview__count--active 2
                  .slider-preview__count 3
                  .slider-preview__count 4
                  .slider-preview__count 5
              .container
                .my-work__site
                  .site-school
                    - var items = ["HTML", "CSS", "Javascript"];
                    ul.work-site
                      each item in items
                        li.work-site__item #{item}
                    p.site-school__name Сайт школы образования
                    p.site-school__description Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    a.site-school__link Посмотреть сайт

        .about-me
          section.section-values.about-me__section-values
            section.triangles.about-me__triangles
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.about-me__triangle
                polygon(points="0,0 0,100 1000,100")
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.about-me__triangle
                polygon(points="1000,0 1000,100 0,100")
          .container
            .about-me__slider
              .slider-about-me
                .slider-about-me__container-title
                  h3.slider-about-me__title Что обо мне говорят
                  .slider-about-me__btn
                    button(type="button").slider-about-me__btn-left <
                    button(type="button").slider-about-me__btn-right >
                .slider-about-me__container.slider-reviews
                  .slider-reviews__slide
                    .slider-reviews__wrap
                      +icon("quote", "slider-reviews__icon")
                      p.slider-review__feedback.slider-review__koval Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      +image("content/koval.png", "slider-reviews__img-koval", "фотография основателя loftschol")
                      p.slider-review__name.slider-review__name-koval Ковальчук Дмитрий#[br]
                        span Основатель Loftschool
                  .slider-reviews__slide
                    .slider-reviews__wrap
                      +icon("quote", "slider-reviews__icon")
                      p.slider-review__feedback.slider-review__sabancev Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      +image("content/sabancev.png", "slider-reviews__img-sabancev", "фотография преподавателя loftschol")
                      p.slider-review__name.slider-review__name-sabancev Владимир Сабанцев#[br]
                        span Преподаватель

            .about-me__contact-me
              .contact-me
                h3.contact-me__title Связаться со мной
                form.contact-me__search(action="#" method="get")
                  .contact-me__wrap
                    .contact-me__column
                      label(for="name") Введите ваше имя
                      input(type="text" id="name" name="name"  placeholder="Ковальчук Дмитрий")
                      +icon("user", "contact-me__icon-user")
                    .contact-me__column
                      label(for="email") Введите ваш email
                      input(type="email" id="email" name="email"  placeholder="loftschool@study.com")
                      +icon("envelope", "contact-me__icon-envelope")
                  .contact-me__column
                    label(for="comment") Сообщение к письму
                    textarea(id="comment" name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                    +icon("message", "contact-me__icon-message")
                  button(type="submit").contact-me__btn Отправить
                  

        footer
          .container
            .footer
              .footer__copyright
                .copyright
                  p.copyright__date ©&nbsp;2020
                  p.copyright__text Анна #[br]Архипова#[br]
                    span  Личный сайт #[br]веб&nbsp;-&nbsp;разработчика
              .footer__wrap
                .footer__nav
                  .footer-nav
                    - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                    ul.footer-nav__list.footer-nav-list
                      each item in items
                        li.footer-nav-list__item
                          a.footer-nav-list__link #{item}
                .footer__description-quote
                  .footer__description
                    .footer-description
                      p.footer-description__note Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                      - var icons = ["insta", "vk", "github"];
                    .footer__socials
                      ul.footer-socials
                        each item in icons
                          li.footer-socials__item
                            a(href="" target="_blank").footer-socials__link
                              +icon(item, "footer-socials__icon")
                  .footer__quote
                    .quote
                      p.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                      p.quote__autor Martin Golding